<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>simple</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="BreezyCV - Resume / CV / vCard Template"/>
    <meta name="keywords" content="vcard, resposnive, retina, resume, jquery, css3, bootstrap, Material CV, portfolio"/>
    <meta name="author" content="lmpixels"/>
    <link rel="shortcut icon" href="favicon.ico">


    <link rel="stylesheet" href="css/reset.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css" type="text/css">
    <link rel="stylesheet" href="css/animations.css" type="text/css">
    <link rel="stylesheet" href="css/perfect-scrollbar.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/main.css" type="text/css">

    <script src="js/modernizr.custom.js"></script>
</head>

<body>
<!-- Animated Background -->
<div class="lm-animated-bg" style="background-image: url(img/main_bg.png);"></div>
<!-- /Animated Background -->

<!-- Loading animation -->
<div class="preloader">
    <div class="preloader-animation">
        <div class="preloader-spinner">
        </div>
    </div>
</div>
<!-- /Loading animation -->

<div class="page" id="wrapper">
    <div class="page-content" v-if="render === true">

        <header id="site_header" class="header mobile-menu-hide">
            <div class="header-content">
                <div class="header-photo">
                    <img src="img/main_photo.jpg" alt="Alex Smith">
                </div>
                <div class="header-titles">
                    <h2>{{ nickname }}</h2>
                    <h4>{{ profession }}</h4>
                </div>
            </div>

            <ul class="main-menu" v-on:click="endReading">
                <li class="active">
                    <a href="#home" class="nav-anim">
                        <span class="menu-icon lnr lnr-home"></span>
                        <span class="link-text">Home</span>
                    </a>
                </li>
                <li>
                    <a href="#about-me" class="nav-anim">
                        <span class="menu-icon lnr lnr-user"></span>
                        <span class="link-text">About Me</span>
                    </a>
                </li>
                <li>
                    <a href="#resume" class="nav-anim">
                        <span class="menu-icon lnr lnr-graduation-hat"></span>
                        <span class="link-text">Resume</span>
                    </a>
                </li>
                <li>
                    <a href="#blog" class="nav-anim">
                        <span class="menu-icon lnr lnr-book"></span>
                        <span class="link-text">Blog</span>
                    </a>
                </li>
                <li>
                    <a href="#contact" class="nav-anim">
                        <span class="menu-icon lnr lnr-envelope"></span>
                        <span class="link-text">Contact</span>
                    </a>
                </li>
                <a href="#detail">
                </a>
            </ul>

            <div class="social-links">
                <ul>
                    <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>

            <div class="header-content">
                <div>
                    <div class="header-titles">
                        <img :src="newQRCode" style="display: block;margin-right: auto;margin-left: auto;"
                             class="img-rounded center-block" alt="QRCode"/>
                    </div>
                    <div class="header-titles">
                        <h4>微信扫一扫加我好友</h4>
                    </div>
                </div>
            </div>

            <div class="copyrights">© 2020 All rights reserved.</div>
        </header>

        <!-- Mobile Navigation -->
        <div class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- End Mobile Navigation -->

        <!-- Arrows Nav -->
        <div v-if="isReading === false" class="lmpixels-arrows-nav">
            <div class="lmpixels-arrow-right"><i class="lnr lnr-chevron-right"></i></div>
            <div class="lmpixels-arrow-left"><i class="lnr lnr-chevron-left"></i></div>
        </div>
        <!-- End Arrows Nav -->


        <div class="content-area">
            <div class="animated-sections">
                <!-- Home Subpage -->
                <section data-id="home" class="animated-section start-page">
                    <div class="section-content vcentered">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="title-block">
                                    <h2>{{nickname}}</h2>
                                    <div class="owl-carousel text-rotation">
                                        <div class="item">
                                            <div class="sp-subtitle">{{profession}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End of Home Subpage -->

                <!-- Detail Subpage -->
                <section data-id="detail" class="animated-section">
                    <div class="section-content vcentered">
                        <div v-if="isReading === false" class="section-content vcentered">
                            <h1>内容载入中</h1>
                        </div>
                        <div v-if="isReading === true" class="single-page-content">
                            <article class="post">
                                <div class="post-thumbnail">
                                    <img :src="content.body | getThumbnail" alt="image">
                                </div>

                                <div class="post-content">
                                    <!-- /Entry header -->
                                    <header class="entry-header">
                                        <!-- Entry meta -->
                                        <div class="entry-meta entry-meta-top" v-for="(label,index) in content.labels"
                                             v-if="index === 0">
                                            <span><a href="#blog" rel="category tag">{{label.name}}</a></span>
                                        </div>
                                        <!-- /Entry meta -->
                                        <h2 class="entry-title">{{content.title}}</h2>
                                    </header>
                                    <!-- /Entry header -->

                                    <!-- Entry content -->
                                    <div class="entry-content">
                                        <div class="row">
                                            <div class=" col-xs-12 col-sm-12 ">
                                                <div class="col-inner">
                                                    <div v-html="compiledMarkdown(content.body)"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Entry content -->

                                    <div class="entry-meta entry-meta-bottom">
                                        <div class="date-author">
                              <span class="entry-date">
                                <a href="#" rel="bookmark">
                                  <i class="far fa-clock"></i> <span class="entry-date">{{content.updated_at | formatDate}}</span>
                                </a>
                              </span>
                                            <span class="author vcard">
                                <a class="url fn n" href="#" rel="author"> <i class="fas fa-user"></i>{{content.user.login}}</a>
                              </span>
                                        </div>

                                    </div>

                                    <div class="post-tags">
                                        <div class="tags">
                                            <a rel="tag" v-for="(label,index) in content.labels">{{label.name}}</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </section>
                <!-- End of Detail Subpage -->

                <!-- About Me Subpage -->
                <section data-id="about-me" class="animated-section">
                    <div class="page-title">
                        <h2>About <span>Me</span></h2>
                    </div>

                    <div class="section-content">
                        <!-- Personal Information -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-7">
                                <p>{{github_about}}</p>
                            </div>

                            <div class="col-xs-12 col-sm-5">
                                <div class="info-list">
                                    <ul>
                                        <li>
                                            <span class="title">Age</span>
                                            <span class="value">32</span>
                                        </li>

                                        <li>
                                            <span class="title">Residence</span>
                                            <span class="value">USA</span>
                                        </li>

                                        <li>
                                            <span class="title">Address</span>
                                            <span class="value">88 Some Street, Some Town</span>
                                        </li>

                                        <li>
                                            <span class="title">e-mail</span>
                                            <span class="value"><a href="../../../../cdn-cgi/l/email-protection.html"
                                                                   class="__cf_email__"
                                                                   data-cfemail="bdd8d0dcd4d1fdd8c5dcd0cdd1d893ded2d0">[email&#160;protected]</a></span>
                                        </li>

                                        <li>
                                            <span class="title">Phone</span>
                                            <span class="value">+0123 123 456 789</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End of Personal Information -->

                        <div class="white-space-50"></div>

                        <!-- Services -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <div class="block-title">
                                    <h3>What <span>I Do</span></h3>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="col-inner">
                                    <div class="info-list-w-icon">
                                        <div class="info-block-w-icon">
                                            <div class="ci-icon">
                                                <i class="lnr lnr-store"></i>
                                            </div>
                                            <div class="ci-text">
                                                <h4>Ecommerce</h4>
                                                <p>Pellentesque pellentesque, ipsum sit amet auctor accumsan, odio
                                                    tortor bibendum massa, sit amet ultricies ex lectus scelerisque
                                                    nibh. Ut non sodales.</p>
                                            </div>
                                        </div>
                                        <div class="info-block-w-icon">
                                            <div class="ci-icon">
                                                <i class="lnr lnr-laptop-phone"></i>
                                            </div>
                                            <div class="ci-text">
                                                <h4>Web Design</h4>
                                                <p>Pellentesque pellentesque, ipsum sit amet auctor accumsan, odio
                                                    tortor bibendum massa, sit amet ultricies ex lectus scelerisque
                                                    nibh. Ut non sodales.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6">
                                <div class="col-inner">
                                    <div class="info-list-w-icon">
                                        <div class="info-block-w-icon">
                                            <div class="ci-icon">
                                                <i class="lnr lnr-pencil"></i>
                                            </div>
                                            <div class="ci-text">
                                                <h4>Copywriting</h4>
                                                <p>Pellentesque pellentesque, ipsum sit amet auctor accumsan, odio
                                                    tortor bibendum massa, sit amet ultricies ex lectus scelerisque
                                                    nibh. Ut non sodales.</p>
                                            </div>
                                        </div>
                                        <div class="info-block-w-icon">
                                            <div class="ci-icon">
                                                <i class="lnr lnr-flag"></i>
                                            </div>
                                            <div class="ci-text">
                                                <h4>Management</h4>
                                                <p>Pellentesque pellentesque, ipsum sit amet auctor accumsan, odio
                                                    tortor bibendum massa, sit amet ultricies ex lectus scelerisque
                                                    nibh. Ut non sodales.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Services -->

                        <div class="white-space-30"></div>

                    </div>
                </section>
                <!-- End of About Me Subpage -->

                <!-- Resume Subpage -->
                <section data-id="resume" class="animated-section">
                    <div class="page-title">
                        <h2>Resume</h2>
                    </div>

                    <div class="section-content">

                        <div class="row">
                            <div class="col-xs-12 col-sm-7">

                                <div class="block-title">
                                    <h3>Education</h3>
                                </div>

                                <div class="timeline timeline-second-style clearfix">
                                    <div class="timeline-item clearfix">
                                        <div class="left-part">
                                            <h5 class="item-period">2008</h5>
                                            <span class="item-company">University of Studies</span>
                                        </div>
                                        <div class="divider"></div>
                                        <div class="right-part">
                                            <h4 class="item-title">Frontend Development</h4>
                                            <p>Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliquam
                                                sodales. Phasellus sed mauris hendrerit, laoreet sem in, lobortis
                                                ante.</p>
                                        </div>
                                    </div>

                                    <div class="timeline-item clearfix">
                                        <div class="left-part">
                                            <h5 class="item-period">2007</h5>
                                            <span class="item-company">University of Studies</span>
                                        </div>
                                        <div class="divider"></div>
                                        <div class="right-part">
                                            <h4 class="item-title">Graphic Design</h4>
                                            <p>Aliquam tincidunt malesuada tortor vitae iaculis. In eu turpis iaculis,
                                                feugiat risus quis, aliquet urna. Quisque fringilla mollis risus, eu
                                                pulvinar dolor.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="white-space-50"></div>

                                <div class="block-title">
                                    <h3>Experience</h3>
                                </div>

                                <div class="timeline timeline-second-style clearfix">
                                    <div class="timeline-item clearfix">
                                        <div class="left-part">
                                            <h5 class="item-period">2016 - Current</h5>
                                            <span class="item-company">Google</span>
                                        </div>
                                        <div class="divider"></div>
                                        <div class="right-part">
                                            <h4 class="item-title">Lead Ui/Ux Designer</h4>
                                            <p>Praesent dignissim sollicitudin justo, sed elementum quam lacinia quis.
                                                Phasellus eleifend tristique posuere. Sed vitae dui nec magna.</p>
                                        </div>
                                    </div>

                                    <div class="timeline-item clearfix">
                                        <div class="left-part">
                                            <h5 class="item-period">2013 - 2016</h5>
                                            <span class="item-company">Adobe</span>
                                        </div>
                                        <div class="divider"></div>
                                        <div class="right-part">
                                            <h4 class="item-title">Senior Ui/Ux Designer</h4>
                                            <p>Maecenas tempus faucibus rutrum. Duis eu aliquam urna. Proin vitae nulla
                                                tristique, ornare felis id, congue libero. Nam volutpat euismod
                                                quam.</p>
                                        </div>
                                    </div>

                                    <div class="timeline-item clearfix">
                                        <div class="left-part">
                                            <h5 class="item-period">2011 - 2013</h5>
                                            <span class="item-company">Google</span>
                                        </div>
                                        <div class="divider"></div>
                                        <div class="right-part">
                                            <h4 class="item-title">Junior Ui/Ux Designer</h4>
                                            <p>Duis mollis nunc quis quam viverra venenatis. Nulla nulla arcu, congue
                                                vitae nunc ac, sodales ultricies diam. Nullam justo leo, tincidunt sit
                                                amet.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Skills & Certificates -->
                            <div class="col-xs-12 col-sm-5">
                                <!-- Design Skills -->
                                <div class="block-title">
                                    <h3>Design <span>Skills</span></h3>
                                </div>

                                <div class="skills-info skills-second-style">
                                    <!-- Skill 1 -->
                                    <div class="skill clearfix">
                                        <h4>Web Design</h4>
                                        <div class="skill-value">95%</div>
                                    </div>
                                    <div class="skill-container skill-1">
                                        <div class="skill-percentage"></div>
                                    </div>
                                    <!-- End of Skill 1 -->

                                    <!-- Skill 2 -->
                                    <div class="skill clearfix">
                                        <h4>Print Design</h4>
                                        <div class="skill-value">65%</div>
                                    </div>
                                    <div class="skill-container skill-2">
                                        <div class="skill-percentage"></div>
                                    </div>
                                    <!-- End of Skill 2 -->

                                    <!-- Skill 3 -->
                                    <div class="skill clearfix">
                                        <h4>Logo Design</h4>
                                        <div class="skill-value">80%</div>
                                    </div>
                                    <div class="skill-container skill-3">
                                        <div class="skill-percentage"></div>
                                    </div>
                                    <!-- End of Skill 3 -->

                                    <!-- Skill 4 -->
                                    <div class="skill clearfix">
                                        <h4>Graphic Design</h4>
                                        <div class="skill-value">90%</div>
                                    </div>
                                    <div class="skill-container skill-4">
                                        <div class="skill-percentage"></div>
                                    </div>
                                    <!-- End of Skill 4 -->

                                </div>
                                <!-- End of Design Skills -->

                                <div class="white-space-10"></div>

                                <!-- Coding Skills -->
                                <div class="block-title">
                                    <h3>Coding <span>Skills</span></h3>
                                </div>

                                <div class="skills-info skills-second-style">
                                    <!-- Skill 5 -->
                                    <div class="skill clearfix">
                                        <h4>JavaScript</h4>
                                        <div class="skill-value">95%</div>
                                    </div>
                                    <div class="skill-container skill-5">
                                        <div class="skill-percentage"></div>
                                    </div>
                                    <!-- End of Skill 5 -->

                                    <!-- Skill 6 -->
                                    <div class="skill clearfix">
                                        <h4>PHP</h4>
                                        <div class="skill-value">85%</div>
                                    </div>
                                    <div class="skill-container skill-6">
                                        <div class="skill-percentage"></div>
                                    </div>
                                    <!-- End of Skill 6 -->

                                    <!-- Skill 7 -->
                                    <div class="skill clearfix">
                                        <h4>HTML/CSS</h4>
                                        <div class="skill-value">100%</div>
                                    </div>
                                    <div class="skill-container skill-7">
                                        <div class="skill-percentage"></div>
                                    </div>
                                    <!-- End of Skill 7 -->

                                    <!-- Skill 8 -->
                                    <div class="skill clearfix">
                                        <h4>Smarty/Twig</h4>
                                        <div class="skill-value">75%</div>
                                    </div>
                                    <div class="skill-container skill-8">
                                        <div class="skill-percentage"></div>
                                    </div>
                                    <!-- End of Skill 8 -->

                                    <!-- Skill 9 -->
                                    <div class="skill clearfix">
                                        <h4>Perl</h4>
                                        <div class="skill-value">90%</div>
                                    </div>
                                    <div class="skill-container skill-9">
                                        <div class="skill-percentage"></div>
                                    </div>
                                    <!-- End of Skill 9 -->
                                </div>
                                <!-- End of Coding Skills -->

                                <div class="white-space-10"></div>

                                <!-- Knowledges -->
                                <div class="block-title">
                                    <h3>Knowledges</h3>
                                </div>

                                <ul class="knowledges">
                                    <li>Marketing</li>
                                    <li>Print</li>
                                    <li>Digital Design</li>
                                    <li>Social Media</li>
                                    <li>Time Management</li>
                                    <li>Communication</li>
                                    <li>Problem-Solving</li>
                                    <li>Social Networking</li>
                                    <li>Flexibility</li>
                                </ul>
                                <!-- End of Knowledges -->
                            </div>
                            <!-- End of Skills & Certificates -->
                        </div>

                        <div class="white-space-50"></div>

                        <!-- Certificates -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <div class="block-title">
                                    <h3>Certificates</h3>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Certificate 1 -->
                            <div class="col-xs-12 col-sm-6">
                                <div class="certificate-item clearfix">
                                    <div class="certi-logo">
                                        <img src="img/clients/client-1.png" alt="logo">
                                    </div>

                                    <div class="certi-content">
                                        <div class="certi-title">
                                            <h4>Psyhology of Intertnation Design</h4>
                                        </div>
                                        <div class="certi-id">
                                            <span>Membership ID: XXXX</span>
                                        </div>
                                        <div class="certi-date">
                                            <span>19 April 2018</span>
                                        </div>
                                        <div class="certi-company">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Certificate 1 -->

                            <!-- Certificate 2 -->
                            <div class="col-xs-12 col-sm-6">
                                <div class="certificate-item clearfix">
                                    <div class="certi-logo">
                                        <img src="img/clients/client-1.png" alt="logo">
                                    </div>

                                    <div class="certi-content">
                                        <div class="certi-title">
                                            <h4>Psyhology of Intertnation Design</h4>
                                        </div>
                                        <div class="certi-id">
                                            <span>Membership ID: XXXX</span>
                                        </div>
                                        <div class="certi-date">
                                            <span>19 April 2018</span>
                                        </div>
                                        <div class="certi-company">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Certificate 2 -->

                        </div>
                        <!-- End of Certificates -->
                    </div>
                </section>
                <!-- End of Resume Subpage -->

                <!-- Blog Subpage -->
                <section data-id="blog" class="animated-section">
                    <div class="page-title">
                        <h2>Blog</h2>
                    </div>

                    <div class="section-content">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <!-- Portfolio Content -->
                                <div class="portfolio-content">

                                    <ul class="portfolio-filters">
                                        <li class="active" v-for="(label,index) in labels">
                                            <a class="filter btn btn-sm btn-link" data-group="category_all">{{label.name}}</a>
                                        </li>
                                    </ul>

                                    <div class="blog-masonry three-columns clearfix">
                                        <!-- Blog Post 1 -->
                                        <div v-for="item in items" class="item post-1">
                                            <div class="blog-card">
                                                <div class="media-block">
                                                    <div v-for="(label,index) in item.labels" v-if="index === 0"
                                                         class="category">
                                                        <a title="View all posts in Design">{{ label.name }}</a>
                                                    </div>
                                                    <a href="#detail" v-on:click="showBlogDetail(item)">
                                                        <img :src="item.body | getThumbnail"
                                                             class="size-blog-masonry-image-two-c post-image"
                                                             style="height: 120px"
                                                             alt="Why I Switched to Sketch For UI Design" title=""/>
                                                        <div class="mask"></div>
                                                    </a>
                                                </div>
                                                <div class="post-info">
                                                    <div class="post-date">{{item.updated_at | formatDate}}</div>
                                                    <a href="#detail">
                                                        <h4 class="blog-item-title">{{item.title}}</h4>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of Blog Post 1 -->
                                    </div>

                                    <div v-if="items.length !== 0">
                                        <button v-if="items.length == 4" v-on:click="getPostList" value="下一页"
                                                class="button btn-send disabled">下一页
                                        </button>
                                    </div>
                                </div>
                                <!-- End of Portfolio Content -->
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End of Portfolio Subpage -->


                <!-- Contact Subpage -->
                <section data-id="contact" class="animated-section">
                    <div class="page-title">
                        <h2>Contact</h2>
                    </div>

                    <div class="section-content">

                        <div class="row">
                            <!-- Contact Info -->
                            <div class="col-xs-12 col-sm-12">
                                <div class="lm-info-block gray-default">
                                    <i class="lnr lnr-map-marker"></i>
                                    <h4>{{ location }}</h4>
                                    <span class="lm-info-block-value"></span>
                                    <span class="lm-info-block-text"></span>
                                </div>

                                <div class="lm-info-block gray-default">
                                    <i class="lnr lnr-phone-handset"></i>
                                    <h4>{{ phone }}</h4>
                                    <span class="lm-info-block-value"></span>
                                    <span class="lm-info-block-text"></span>
                                </div>


                                <div class="lm-info-block gray-default">
                                    <i class="lnr lnr-checkmark-circle"></i>
                                    <h4>{{ motto }}</h4>
                                    <span class="lm-info-block-value"></span>
                                    <span class="lm-info-block-text"></span>
                                </div>


                            </div>
                            <!-- End of Contact Info -->

                        </div>

                    </div>
                </section>
                <!-- End of Contact Subpage -->
            </div>
        </div>

    </div>
</div>

<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/animating.js"></script>

<script src="js/imagesloaded.pkgd.min.js"></script>
<script src='js/perfect-scrollbar.min.js'></script>
<script src='js/jquery.shuffle.min.js'></script>
<script src='js/masonry.pkgd.min.js'></script>
<script src='js/owl.carousel.min.js'></script>
<script src="js/jquery.magnific-popup.min.js"></script>

<script type="text/javascript" src='js/vue.min.js'></script>
<script type="text/javascript" src='js/marked.js'></script>
<script type="text/javascript" src='js/lodash.js'></script>

<script src="js/axios.min.js"></script>
<script src="js/qrious.min.js"></script>
<script src="js/validator.js"></script>
<script src="js/main.js"></script>
</body>
</html>